body{
    margin: 0;
}
#barra-cabecera{
    background-color: maroon;
    margin-top: 100px; /*Comenten (o borren) esta linea , la pusimos por el proyector del aula*/

    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

#nav1{
    width: 75%;
}
#nav2{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav2 div{
    display: flex;
    align-items: center;
}
#nav2 div a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#container-descripcion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#col-iz-descripcion{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#p-letra-diminuta{
    font-size: 8px;
    text-align: justify;
}

#col-der-imagen img{
    width: 100%;

}